.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.header_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_logo_images {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo_images img {
    width: 64px;
    height: 64px;
    position: relative;
}

.header_logo_images:before {
    content: "";
    position: absolute;

    border-radius: 62px;
    background: $white-color;
    width: 62px;
    height: 60px;
}

.header_logo_text {
    text-transform: uppercase;
    color: $white-color;
    font-size: 28px;
    font-family: 'Myriad Pro Regular';

}


.header_btnWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_btnWrap button:not(:last-child) {
    margin-right: 30px
}