<!DOCTYPE html>
<html lang="en">
<head>
  <title>123.ch</title>
  <%= render 'layouts/partials/links_scripts_meta' %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bgcolor-my-blue p-2 p-sm-4 px-0">
  <a class="navbar-brand d-flex flex-sm-row flex-column align-items-center" href="/">
    <img src="/img/logo.svg" alt="123.ch">
    <h3 class="ml-4 d-none d-sm-block">Your Exclusive Vanity Link Shortener</h3>
  </a>
</nav>

<div class="container">
<%= yield %>
  <%= render 'layouts/partials/footer' %>
</div>
</body>
</html>